<div class="grid-container-fluid">

  <mat-toolbar color="primary">
    <span>Shops</span>
  </mat-toolbar>
  <mat-toolbar class="w-100">
    <span class="p-3">
      <button mat-raised-button color="secondary" [routerLink]="['list']" routerLinkActive="active" >
        <mat-icon>add</mat-icon> shoplist
      </button>
    </span>
    <span class="p-3">
      <button mat-raised-button color="secondary" [routerLink]="['add']" routerLinkActive="active" >
        <mat-icon>add</mat-icon> new shop
      </button>
    </span>
  </mat-toolbar>
  <div class="container py-3">
  <router-outlet></router-outlet>
  </div>
</div>
